@charset "UTF-8";
/*
!----------------------- Обнуляющий стиль --------------------!
*/
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*
!---------------------- Подключения шрифта -------------------!
*/
@font-face {
  font-family: "Objective-Bolt";
  src: url("/fonts/objective/Objective-Bold.otf");
}
@font-face {
  font-family: "Objective-Medium";
  src: url("/fonts/objective/Objective-Medium.otf");
}
@font-face {
  font-family: "Objective-Regular";
  src: url("/fonts/objective/Objective-Regular.otf");
}
@font-face {
  font-family: "Philosopher-Regular";
  src: url("/fonts/philosopher/Philosopher-Regular.ttf");
}
/*
!----------------------  -------------------!
*/
body {
  font-family: "Objective-Medium";
  font-size: 18px;
  overflow-x: hidden;
  background: #edf4fa;
}

.u-container {
  width: 1200px;
  margin: 0 auto;
}

header {
  margin-top: 46.52px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.header__menu ul {
  display: flex;
}
.header__menu li:not(:last-child) {
  margin-right: 50px;
}

main {
  margin-top: 91px;
}

.main__container {
  display: flex;
  -moz-column-gap: 53px;
       column-gap: 53px;
  align-items: center;
}
.main__container-left {
  flex: 53%;
  margin-top: 11px;
}
.main__container-left h1 {
  font-family: "Philosopher-Regular";
  font-size: 50px;
  line-height: 70px;
  letter-spacing: 0.02em;
  color: #260041;
}
.main__container-left h1 span {
  color: #D81B60;
}
.main__container-left p {
  font-family: "Objective-Regular";
  margin-top: 14px;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: #260041;
}
.main__button {
  display: flex;
  margin-top: 60px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
  flex-wrap: wrap;
}
.main__button a {
  display: inline-flex;
  background: #4A99D3;
  border-radius: 5px;
  width: 180px;
  height: 60px;
  align-items: center;
  justify-content: center;
}
.main__button:not(:last-child) {
  margin-right: 20px;
}
.main__container-right {
  display: flex;
  width: 521px;
  height: 534.78px;
  position: relative;
}
.main__container-right-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main__container-right-img1 {
  position: absolute;
  left: 80px;
  top: 74px;
  display: flex;
  z-index: 2;
}
.main__container-right-img2 {
  position: absolute;
  display: flex;
  left: 241px;
  z-index: 1;
}

.ibg {
  position: relative;
}

.bg-fon {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 1440px;
  height: 768px;
  background: linear-gradient(1.02deg, #4A99D3 -17.33%, rgba(74, 153, 211, 0) 75.91%), #FFFFFF;
  opacity: 0.2;
  box-shadow: 0px 4px 16px rgba(75, 0, 129, 0.26);
  transform: rotate(-180deg);
}

/*
!--------------------our-halp----------------------!
*/
.our-halp {
  margin-top: 214px;
}
.our-halp__container h2 {
  font-family: "Objective-Medium";
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #260041;
}
.our-halp__menu {
  margin-top: 84px;
}
.our-halp__menu ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.our-halp__menu ul li {
  display: flex;
  flex-direction: column;
  justify-content: end;
  background: #FFFFFF;
  padding: 0px 48px 48px 48px;
  box-shadow: 5px 20px 50px rgba(74, 153, 211, 0.2);
  border-radius: 10px;
}
.our-halp__menu ul li h3 {
  margin-top: 56px;
}
.our-halp__menu ul li p {
  margin-top: 16px;
  font-family: "Objective-Regular";
  font-size: 16px;
  line-height: 26px;
  color: #0F001A;
  opacity: 0.6;
}
.our-halp__menu ul li a {
  margin-top: 62px;
  font-family: "Objective-Medium";
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #4A99D3;
}
.our-halp__menu ul li a img {
  margin-left: 15px;
}

/*
!--------------------works----------------!
*/
.works {
  display: flex;
  margin-top: 90px;
  background: rgba(74, 153, 211, 0.1);
}
.works__container {
  text-align: center;
}
.works__container h2 {
  margin-top: 95px;
  font-family: "Objective-Bolt";
  font-size: 26px;
  line-height: 27px;
  text-align: center;
  color: #4A99D3;
}
.works__menu {
  margin-bottom: 95px;
}
.works__menu ul {
  display: flex;
  justify-content: center;
  -moz-column-gap: 106px;
       column-gap: 106px;
  margin-top: 88px;
}
.works__menu ul li {
  width: 257px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.works__menu ul li h3 {
  margin-top: 30px;
  font-size: 18px;
  line-height: 19px;
  color: #0F001A;
}
.works__menu ul li p {
  font-family: "Objective-Regular";
  margin-top: 10px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #0F001A;
}

/*
!----------------reviews---------------!
*/
.reviews {
  margin-top: 87px;
}
.reviews__container h2 {
  font-family: "Objective-Bolt";
  font-size: 26px;
  line-height: 27px;
  text-align: center;
  color: #0F001A;
}
.reviews__main {
  margin-top: 11px;
  display: flex;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
.reviews__main-left {
  flex: 0 0 46.42%;
  position: relative;
}
.reviews__main-left img {
  margin-left: 10.42%;
}
.reviews .reviews__main-left-bg {
  width: 100%;
  height: 77.01%;
  background: rgba(74, 153, 211, 0.1);
  position: absolute;
  bottom: 0;
}
.reviews__main-right {
  margin-top: 200px;
}
.reviews__main-right p {
  margin-top: 40px;
  font-family: "Objective-Regular";
  font-size: 16px;
  line-height: 24px;
  color: #0F001A;
  opacity: 0.5;
}
.reviews__main-right h5 {
  margin-top: 40px;
  font-family: "Objective-Medium";
  font-size: 18px;
  line-height: 19px;
  color: #0F001A;
}

/*
!-------------download---------------!
*/
.download {
  margin-top: 158px;
}
.download__contsiner {
  display: flex;
  -moz-column-gap: 100px;
       column-gap: 100px;
  height: 458.39px;
  align-items: center;
}
.download__left {
  display: flex;
  flex: 0 0 43%;
  position: relative;
  height: 100%;
}
.download__img-1 {
  position: absolute;
  top: 57px;
  left: 0;
}
.download__img-2 {
  position: absolute;
  top: 57px;
  right: 0;
}
.download__img-3 {
  position: absolute;
  top: 0;
  left: 138px;
}
.download__right {
  display: flex;
  flex-direction: column;
}
.download__right h3 {
  font-family: "Objective-Bolt";
  font-size: 25px;
  line-height: 26px;
  text-align: center;
  color: #0F001A;
}
.download__right p {
  margin-top: 15.58px;
  font-family: "Objective-Regular";
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #0F001A;
  opacity: 0.5;
}
.download__buttom {
  margin-top: 59.91px;
  display: flex;
  -moz-column-gap: 28.35px;
       column-gap: 28.35px;
  justify-content: center;
}
.download__g-play {
  width: 165.45px;
  height: 52.17px;
  background: #000000;
  padding: 9.13px 11.17px 8.56px 18.24px;
  border-radius: 8px;
}
.download__a-store {
  width: 165.45px;
  height: 52.17px;
  background: #000000;
  padding: 9.13px 11.17px 8.56px 18.24px;
  border-radius: 8px;
}

/*
!-------------footer--------------!
*/
footer {
  margin-top: 123.27px;
  background: #4A99D3;
}

.footer__container {
  display: flex;
  padding: 56.29px 0px 28.66px 0px;
}
.footer__container p {
  font-family: "Objective-Regular";
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}
.footer__logo {
  margin: 0px 144px 0px 0px;
}
.footer__menu {
  margin-right: 79px;
}
.footer__menu-items {
  display: flex;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.footer__menu-item {
  white-space: nowrap;
  font-family: "Objective-Medium";
  font-size: 18px;
  line-height: 19px;
  align-items: center;
  color: #FFFFFF;
}
.footer__menu-item span {
  text-decoration: underline;
}
.footer__menu-subitems {
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}
.footer__menu-subitem a {
  white-space: nowrap;
  font-family: "Objective-Regular";
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
}

/*
!-------------socials-------------!
*/
.footer__socials {
  margin-top: 1px;
  background-color: #4A99D3;
  padding: 20px 0px 20px 0px;
}

.socials__container {
  display: flex;
  justify-content: space-between;
}
.socials__rights {
  font-family: "Objective-Regular";
  font-size: 10.41px;
  line-height: 11px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.socials__menu ul {
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
}