/*
!----------------------- Обнуляющий стиль --------------------!
*/
@import "_nullstyle";
/*
!---------------------- Подключения шрифта -------------------!
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap");
/*
!----------------------  -------------------!
*/
body{
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
}
.header {

  &__container {}

  &__logo {}

  &__menu {}
}

.u-container {}

.main {

  &__container {}

  &__container-left {}

  &__button {}

  &__google-play {}

  &__app-story {}

  &__container-right {}

  &__container-right-bg {}

  &__container-right-img1 {}

  &__container-right-img2 {}
}